body{
    margin: 0%;
}
main{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 40vw;
    margin: 0%;
    padding: 2%;
    text-align: center;
    float: right;
    height: 100vh;
}
h2{
    margin: 0%;
}

#canvas{
    width: 54vw;
    height: 100vh;
}
#caixa{
    text-align: center;
}
